input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}
.form{
    width: 60px;
    height: 40px;
    text-align: center;
  }
  .formBtn{
    width: 30px;
  }